#word{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}
.letter{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

div.selected{
    background-color: lightgray;
}

div.correct{
    background-color: green;
}

#result{
    
}