#word{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

input{
    display: block;
    width: 100% ;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
}

input.selected{
    background-color: lightgray;
}

div.correct{
    background-color: green;
}
