#word, #letters{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#letters{
    gap: 5px
}

input{
    display: block;
    width: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
}

input.selected{
    background-color: lightgray;
}

.resultletter{
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid black;
    background-color: green;
    padding: 5px;
}

div.correct{
    background-color: green;
}

h1{
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    background-color: orange;
}

#word.hidden, h1.hidden{
    display: none;
}


